* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    /* margin-bottom: 70px; */
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

.header a:hover {
    background-color: #ddd;
}

.header-right {
    float: right;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: 0;
    border-bottom: 3px solid #ddd;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 6px;
}
.topnav a:hover {
    background-color: #ddd;
}
.topnav a.active {
    background-color: blue;
    color: white;
}
.topnav a.active:hover {
    opacity: 0.4;
}

.topnav-right {
    float: right;
}

.welcome {
    padding: 30px;
    text-align: center;
    background-color: blue;
    color: white;
    overflow: hidden;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ddd;
}
.container a{
    color: dodgerblue;
}
.container-signin a {
    color: dodgerblue;
}
.container-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ddd;
}

input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background: white;
    outline: none;
}
.container hr {
    color: black;
    /* border: 1px solid black; */
    /* margin-bottom: 25px; */
}
.registerbtn {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Home page */
.meetupscontainer {
    display: flex;
    flex-wrap: wrap;
}
.meetup {
    /* background:  */
    width: 250px;
    height: 370px;
    overflow: hidden;
    margin: 20px;
    padding: 5px;
    padding-top: 10px;
}
.meetup a {
    text-decoration: none;
    color: blue;
}
.meetup:hover {
    background-color: white;
    
}
.meetup img {
    width: 240px;
    height: 150px;
    border-radius: 6px;
}
.meetupcontent {
    height: 300px;
    overflow: hidden;
    margin: 0;
}
/* End of homepage Styling */

/* Postquestion page */
.posted-questions h4 {
    text-align: center;
    color: black;
}
.posted-questions h4 a {
    text-decoration: none;
    color: black;
}
.question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 30px;
    margin: 10px;
    border-radius: 6px;
}
.question a {
    text-decoration: none;
    color: blue;
}
.askedby {
    margin-left: auto;
}
.askedby a {
    color: black;
}
.questionactions {
    display: flex;
    flex-wrap: wrap;
}
.questionactions a {
    color: black;
    margin: 30px;
}

#post-question {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#postquestion-form {
    align-self: center;
}
#postquestion-form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#postquestion-form textarea {
    height: 100px;
}
#postquestion-form input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* End of post questions */

/* Admin page */
#create-meetup {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#create-meetup input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: #ddd;
}
#create-meetup h4 {
    text-align: center;
}
#create-meetup a {
    text-decoration: none;
}
.created-meetups-container {
    margin-bottom: 10%;
}
.created-meetups-container h3 {
    text-decoration: none;
    color: black;
    text-align: center;
}
.created-meetups-container a {
    text-decoration: none;
}
.created-meetups {
    display: flex;
    flex-wrap: wrap;
}
/* End of admin page */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f1f1f1;
    color: dodgerblue;
    text-align: center;
 }

@media screen and (max-width: 500px) {
    .topnav, .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav-rignt, .header-right {
        float: none;
    }
    .meetupscontainer {
        flex-direction: column;
    }
    #post-question {
        margin-bottom: 15%;
    }
}